<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class="btn">Generate Now</button>
</body>
<script>
    let btn = document.querySelector(".btn") ;
    btn.addEventListener("click",async() => {
        let data = await fetch("http://localhost:5000/generate") ;
        let dt = await data.text() ;
        console.log(dt);
    })
</script>
</html>